html{
    font-family: sans-serif; // 2
line-height: 1.15; // 3
-webkit-text-size-adjust: 100%; // 4
-ms-text-size-adjust: 100%; // 4
-ms-overflow-style: scrollbar; // 5
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 6
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
}
.fa-home{
    color: #f44!important;

}
*
{
  -webkit-transition: 1.5s all;
  -o-transition: 1.5s all;
  transition: 1.5s all;
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 0px;
    background: whitesmoke;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #01b3a7;
    transition:all .5s;
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #162e44;
}

.custom-slider
{
  position: relative;
  height: 50vh;
  overflow: hidden;
}
.custom-slide
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  -webkit-transform:  scale(2,2);
  -ms-transform:  scale(2,2);
  transform:  scale(2,2);
  opacity: 0;
}
.custom-slide:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}
.custom-caption
{
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  color:#fff;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1) !important;
}

.custom-slide.active-slide
{
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  z-index: 20
}
.custom-caption h1
{

  opacity: 0;
  -webkit-transform: scale(0,0);
  -ms-transform: scale(0,0);
  transform: scale(0,0);
  -webkit-transition: .5s all;
   -o-transition: .5s all;
   transition: .5s all;
   transition-delay: 1s
}
.custom-caption h2
{
  opacity: 0;
  -webkit-transform:  scale(0,0);
  -ms-transform:  scale(0,0);
  transform:  scale(0,0);
  -webkit-transition: 1s all;
   -o-transition: 1s all;
   transition: 1s all;
   transition-delay: 1.5s;

}
.active-slide .custom-caption h1
{
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
  opacity: 1;
}
.active-slide .custom-caption h2
{
  -webkit-transform: scale(1,1);
  -ms-transform: scale(1,1);
  transform: scale(1,1);
  opacity: 1;
}

.lang {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.span2{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.lang-icon{
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;

}

.lang-icon>img{
    width: 1rem;
}

.hiddenMenu{
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 100 ;

    transition: .2s;
    overflow-y: auto;
}

.writeable > ul{
    padding: 0;
}
.MenuName{
    text-align: center;
    color: #444;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 1.17em;
    font-weight: bold;
}
.writeable>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.writeable>ul>.hiddenLi{
    color: #444;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    height: auto;
}

.hiddenLi > a{
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: inherit;
    align-items: center;
}

button.bars {
    padding: 0;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.54);
    flex: 0 0 auto;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color:transparent;
    box-shadow: none;
    width: 26px;
    height: 26px;
    font-weight: 600;
    margin: 0!important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    box-sizing: border-box;
}

button.bars:hover{
    color: #f44!important
}
button.bars>span{
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.sp2{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.fa-bars{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}
.fa-bars:before{
    content: "\f0c9";
}

/*.main{*/
/*    background: url(woman-programming-on-a-notebook-1181359.dd897bf41.jpg) no-repeat center fixed;*/
/*    z-index: 1;*/

/*}*/
.main-section{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #eee;
}





.what{
    width: 100%;
    height: 400px;
    padding-top: 80px;
    background-repeat: no-repeat!important;
    background-position: 50%!important;
    background-size: cover!important;
    position: relative;
    overflow: hidden;
    background: url(https://api.danisoft.am/view/cover/2020/06/home_UvLhT0d52FCNTYnzNPS3G6Fl5t.jpg);

}
.main{
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: "Cookie",cursive;
}
.main>h3{
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    font-family: "Cookie",cursive;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #f44;
    text-shadow: -1px -1px 1px #000;
    position: relative;

}
.main>h3>img{
    height: 300px;
}


.aboutUs{
    /*background: url(woman-programming-on-a-notebook-1181359.dd897bf41.jpg) no-repeat 50% fixed;*/
    background: #fff;
    width: 100%;
    height: auto;
    position: relative;
}
.aboutUs:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*background-color: rgba(0,0,0,.6);*/
}
.contentAb{
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    padding: 17px;
    box-sizing: border-box;
    color: #fff;
    background: url('../background/pattern-3.png');
    background-attachment: fixed;

    background-size: contain;
}
.contentAb>h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: "Cookie",cursive;
}
.contentAb>div>.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(100% + 24px);
    margin: -12px;

}
.contentAb>div>.row>.col-xs-12{
    margin: 0;
    box-sizing: border-box;
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    padding: 12px;
}
.whoWeAre{
    width: 100%;
    box-sizing: border-box;
    padding: 50px 20px;
    background-size: cover;
    background-color: transparent;
}
.whoWeAreIn{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

}
.whoWeAreIn>.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(100% + 16px);
    margin: -8px;
}
.wwai-item{
    margin: 0;
    box-sizing: border-box;
    padding: 8px;
}
.wwai-left{
    box-sizing: border-box;
    padding: 30px 20px;
}
.wwai-left>h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
.left-text{
    text-align: justify;
    font-weight: 100;
    color: black;
    line-height: 20.5px;
}
.right-img{
    margin: 0 auto;
    width: 354px;
    height: 415px;
    display: block;
    object-fit: contain;
}




.works{
    background: #fff;
    background-size: cover;
    width: 100%;
    height: auto;

}
.worksContent1{
    width: 100%;
    height: auto;
    background-color: #eee;
    padding: 20px 20px 20px;
    box-sizing: border-box;
}

.worksContent1>h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #444;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: "Cookie",cursive;

}
.worksContent1>.w-c-d{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.w-c-d>.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(100% + 32px);
    margin: -16px;
    justify-content: center;
}


.cardsItem1{
    margin: 0;
    box-sizing: border-box;
    padding: 16px;
}
.cardsItem1>div{
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.24);
    transition: .3s;
    cursor: pointer;
    position: relative;
}
.cardsItem1>div:before{
    transition: .3s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
    opacity: 0;
}
.cardsItem1>div>img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.cardsItem1>div:hover{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.35);

}
.cardsItem1>div:hover:before {
    opacity: 1;
}
.cardsItem1>div:hover>button{
    visibility: visible;
    opacity: 1;
}
.cardsItem1>div>button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: 300ms;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    padding: 0;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;

}
.showContent{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    transition: .3s;
    padding: 10px;
}
.showContent>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.showContent>ul>li{
    font-weight: 100;
    color: black;
    height: auto;
}
.step{
    font-weight: 600;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    position: relative;
    left: -100%;
    transition: .7s;
}
.cardsItem1>div .step {
    /*display:rgba(0, 0, 0, 0.8);*/
    left: 0;
    text-align:center;
    /*background:black;*/
}
.cardsItem1>div:hover .info {
    position: relative;
    top: -80px;
}
.newname,.newname>li{
  list-style:none;
  padding:10px;
  margin:0px;
  text-align:center;
  height:100px;
}
.info{
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    position: relative;
    top: 200px;
    transition: .7s;
}
.cardsItem1>div>button:hover{
    border-color: #aaa;
    color: #f44;
    box-shadow: none;
}
.fa-paperclip{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}

.cardsItem1>div>img{
    width: 100%;
    display: block;
    margin: 0 auto;
}


.advanced{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
    padding: 20px 20px 40px;
    box-sizing: border-box;
}
.advanced>h2{

    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #666;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Cookie",cursive;
}
.advanced>.row>{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(100% + 8px);
    margin: -4px;


}
.AdvTop{
    margin: 0;
    box-sizing: border-box;
    padding: 4px;
}


.AdvItem{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

.AdvItem>img{
    height: 120px;
    display: block;
    margin: 10px auto;
}
.AdvItem>div{
    font-weight: 600;
    font-size: 18px;
    color: #444;
    text-align: center;
}
.AdvItem>ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.AdvItem>ul>li{
    font-weight: 100;
    height: auto;
    text-align: center;
    color: #666!important;
    line-height: 20px;
}

.forColor{
    background: url(http://danisoft.am/static/media/texture_dark.fc2041e6.jpg) no-repeat 50% fixed;
    background-size: cover;
    width: 100%;
    clip-path: polygon(0 5%,100% 0,100% 95%,0 100%);
    padding: 100px 0 200px;
    box-sizing: border-box;
    position: relative;
}

.forColor>h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 50px auto;
    font-family: "Cookie",cursive;


}
.container1{
    width: 95%;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
}
.container1>.row{
    width: calc(100% + 16px);
    margin: -8px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.container1>.row>.darkItem{
    margin: 0;
    box-sizing: border-box;
    padding: 8px;


}
.container1>.row>.darkItem>.right1 {
    text-align: right

}
.container1>.row>.darkItem>.right1>h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 54px;
    margin-right: -30px;
    position: relative;
    color: #fff;
    line-height: 300px;
    text-align: center;
}

.container1>.row>.darkItem>.right1>h2>span{
    color: #ff497c;
    font-size: 180px;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1px;
    position: absolute;
    top: 1px;
    z-index: -1;
}
.container1>.row>.darkItem>.middle1{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, 0.1);
    display: block;
    margin: 10px auto;
    position: relative;
}
.container1>.row>.darkItem>.middle1:after{
    content: "";
    background: url(ral.png) no-repeat;
    bottom: -130px;
    display: block;
    height: 136px;
    position: absolute;
    right: 5px;
    width: 34px;
    z-index: 4;
}

.container1>.row>.darkItem>.middle1>img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.container1>.row>.darkItem>.middle1:after{
    content: "";
    background: url(raL1.png) no-repeat;
    bottom: -130px;
    display: block;
    height: 136px;
    position: absolute;
    right: 5px;
    width: 34px;
    z-index: 4;
}
.container1>.row>.darkItem>.middle1, ::after, ::before {
    box-sizing: content-box;
}
.container1>.row>.darkItem>.middle2, ::after, ::before {
    box-sizing: content-box;
}

.container1>.row>.darkItem>p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: -30px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    color: #666;
    font-size: 18px;
    font-weight: 100;
}
.container1>.row>.darkItem>p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: -30px;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #666;
    font-size: 18px;
    font-weight: 100;
}



/*cont2```````````````````*/


.container2{
    width: 95%;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
}
.container2>.row{
    width: calc(100% + 16px);
    margin: -8px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.container2>.row>.darkItem{
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
}
.container2>.row>.darkItem>p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right:  -30px;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    color: #666;
    font-size: 18px;
    font-weight: 100;
}
.container2>.row>.darkItem>.middle1{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 10px solid hsla(0,0%,100%,.1);
    display: block;
    margin: 10px auto;
    position: relative;
}
.container2>.row>.darkItem>.middle1:before{
    content: "";
    background: url(ral.png) no-repeat;
    bottom: -130px;
    display: block;
    height: 136px;
    position: absolute;
    left: 5px;
    width: 34px;
    z-index: 4;
}
.container2>.row>.darkItem>.middle1>img{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.container2>.row>.darkItem>.right1 {
    text-align: left

}
.container2>.row>.darkItem>.right1>h2{
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 54px;
    margin-left: -30px;
    position: relative;
    color: #fff;
    line-height: 300px;
    text-align: center;
}

.container2>.row>.darkItem>.right1>h2>span{
    color: #ff497c;
    font-size: 180px;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1px;
    position: absolute;
    top: 1px;
    z-index: -1;
}























.getStarted{

    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    font: 400 13.3333px Arial;
    position: absolute;
    bottom: 105px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 10;
    background-color: #fff;
    color: #232b36;
    padding: 20px 30px;
    border: 1px solid rgba(35,43,54,.55);
    border-radius: 30px;
    font-weight: 100;
    font-size: 18px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.24);
    cursor: pointer;
    outline: none;
    -webkit-transition: .3s;
    transition: .3s;
}
.getStarted:hover{
    background-color: #232b36;
    color: #fff;
    border-color: #fff;
}
.ourWork{
    width: 100%;
    box-sizing: border-box;
    padding: 50px 20px;
    margin: 0;
    background-color: #eee;

}
.ourWork>h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #f44;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "Cookie",cursive
}
.ourWork>hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border: dashed #666;
    border-width: 0 0 1px;
    width: 20%;

}
.ourWork>h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #939393;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 12px;
    letter-spacing: 4px;
}
.ourWork>.container22{
    width: 60%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}


.ourWork>.container22>.row{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(100% + 16px);
    margin: -8px;
}
.ourWork>.container22>.row2{
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: calc(100% + 16px);
    margin: -8px;

}

.lastLeft1{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.lastLeft1>img{
    width: 100%;
    border: 1px solid #ccc;
    padding: 1px;
    box-sizing: border-box;
}


.idn{
    margin: 0;
    box-sizing: border-box;
    padding: 8px;
}

.idn>div{
    width: 100%;
    height: auto;
    overflow: hidden;
}



.content{
    padding: 20px;
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    color: #666;
    border-radius: 2px;
    transition: .3s;
}
.content2{
    background-color: #eee;
}
.content>h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #444;
    margin: 0;
}
.content>h6{
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 10px 0;
    color: #919191;
}
.content>span{

    font-size: 12px;
    color: #919191;
}
.content>hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border: solid #dadada;
    border-width: 0 0 1px;
}
.content>p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
    font-size: 14px;
    color: #666;
}
.comment{
    padding: 30px;
    color: #a7a7a7;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle
}
.comment>img{
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #eee;
    padding: 5px;
    vertical-align: middle;

}
.comment>span{
    color: #a7a7a7;
    font-weight: 500;
    font-size: 12px;
}
.lastItems1{
    background-color: #fff;
    padding: 20px;
    width: calc(100% + 16px);
    margin: -8px;
}
.lastp{
    text-align: center;
    margin: 30px auto;
}
.lastp>button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    font: 400 13.3333px Arial;

    background-color: #006400;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .24);
    transition: .3s;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}
.footer1{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #232b36;
}
.footerTop{
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.oneMoreDiv{
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.logo>img{
    height: 70px;
}
.other{
    display: flex;
}
.social>div>a{
    width: 24px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px!important;
    color: #fff;
}
.social>div>a>svg{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.copyRight{
    padding: 0;
    color: #fff;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.copyRight>h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-weight: 100;
    margin: 0;
    font-size: 1rem;
}
.copyRight>h4>svg{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;;
    vertical-align: middle;
    font-size: 16px;
}

.copyRight>h4>b{
    text-align: center;
    font-weight: bold;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.backDrop.drop{
    position: fixed;
    z-index: 19;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.65);
}
.social>div{
    justify-content: flex-end;
    padding: 20px 0;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

}
.like>iframe{
    border: none;
    overflow: hidden;
    height: 30px;
    margin: 20px 0;
    width: 209px;
}


.lang-menu{
    position: fixed;
    z-index: 1300;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    visibility: hidden;
}
.l-m{
    opacity: 0;
    transform: scale(0.75, 0.5625);
    max-height: 216px;
    width: 20ch;
    transition: opacity 262ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 174ms cubic-bezier(0.4, 0, 0.2, 1) 87ms;
    top: 16px;
    left: 1177px;
    transform-origin: 58px 26px;
    visibility: hidden;
    outline: 0;
    position: absolute;
    max-width: calc(100% - 32px);
    min-width: 16px;
    min-height: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
}
.l-m>ul{
    outline: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    position: relative;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.l-m>ul>li{
    background-color: rgba(0, 0, 0, 0.08);
    width: auto;
    overflow: hidden;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 6px;
    white-space: nowrap;
    letter-spacing: 0.00938em;
    padding-bottom: 6px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    position: relative;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    outline: 0;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.l-ma{
    opacity: 1;
    transform: none;
    transition: opacity 262ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 174ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    visibility: visible;
}
.l-m>ul>li>span{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

@media (min-width: 960px){
    .ourWork>.container2{
        max-width: 960px;
    }
    .whoWeAreIn{
        max-width: 960px;
    }
    .wwai-item{

        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }

}
@media (min-width: 600px){

    .ourWork>.container2 {
        padding-left: 24px;
        padding-right: 24px;
    }
    .footerTop {
        padding-left: 24px;
        padding-right: 24px;
    }
    .social>div {
        padding-left: 24px;
        padding-right: 24px;
    }
    .copyRight{
        padding-left: 24px;
        padding-right: 24px;
    }
    .l-m>ul>li{
        min-height: auto;

    }
    .whoWeAreIn{
        padding-left: 24px;
        padding-right: 24px;
    }
    .worksContent1>.w-c-d{
        padding-left: 24px;
        padding-right: 24px;
    }



}
@media (max-width: 491px) {
.contentAb{
 
    height: 630px;
}
}
@media (min-width: 1280px) {
    .idn {
        flex-grow: 0;
        max-width: 50%;
        flex-basis: 50%;
    }
    .social>div {
        max-width: 1280px;
    }
    .copyRight{
        max-width: 1280px;
    }
    .worksContent1>.w-c-d{
        max-width: 1280px;
    }
    .right1{
        display: none;
    }
}
@media (max-width: 576px){
    .custom-caption h2
{
font-size: 25px;
}
    .ourWork>.container22 {
    width: 97%;}
    .main>h3{
        font-size: 20px;
    }
}
@media (max-width: 768px){

    .main>h3{
        display: block;
    }
    .forColor{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        text-align: center;
        padding: 20px 0;
        height: auto;
    }
    .right1{
        display: none;
    }
    .container1>.row>.darkItem>.middle1:after{
        display: none;
    }
    .container2>.row>.darkItem>.middle1:before{
        display: none;
    }
    .container2>.row{
        flex-direction: column-reverse!important;
    }
    .getStarted{
        position: static;
        transform: none;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .forColor{
        clip-path: polygon(0 2%,100% 0,100% 98%,0 100%);
        padding: 100px 0 200px;
        text-align: center;
        height: auto;
    }
}
