
/***

====================================================================
  Reset
====================================================================

 ***/

* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}

/***

====================================================================
  Global Settings
====================================================================

 ***/

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size:14px;
  color:#777777;
  line-height:1.7em;
  font-weight:400;
  background:#ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
.news-block .inner-box .lower-content .post-date {
    position: relative;
    color: #0060ff;
    font-size: 15px;
    font-weight:bolder;
    /*margin-bottom: 18px;*/
    padding-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
}
.news-block .inner-box .lower-content .post-meta li .icon {
    position: absolute;
    left: 0px;
    top: 1px;
    color: #141d38;
    font-size: 15px;
    margin-right: 6px;
}
.news-block .inner-box .lower-content h4 a {
    position: relative;
    color: #141d38;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.news-block .inner-box .lower-content .post-meta li {
    position: relative;
    color: #427cff;
    font-size: 16px;
    margin-right: 10px;
    font-weight: 600;
    padding-left: 22px;
    display: inline-block;
}
.bordered-layout .page-wrapper{
  padding:0px 50px 0px;
}

a{
  text-decoration:none;
  cursor:pointer;
  color:#0060ff;
}

button,
a:hover,a:focus,a:visited{
  text-decoration:none;
  outline:none !important;
}

h1,h2,h3,h4,h5,h6 {
  position:relative;
  font-weight:normal;
  margin:0px;
  background:none;
  line-height:1.6em;
  font-family: 'Montserrat', sans-serif;
}

input,button,select,textarea{

}

textarea{
  overflow:hidden;
}

p{
  position:relative;
  line-height:1.8em;
}

/* Typography */

h1{
  font-size:72px;
}

h2{
  font-size:36px;
}

h3{
  font-size:30px;
}

h4{
  font-size:24px;
}

h5{
  font-size:20px;
}

h6{
  font-size:18px;
}

.auto-container{
  position:static;
  max-width:1200px;
  padding:0px 15px;
  margin:0 auto;
}

.medium-container{
  max-width:850px;
}

.page-wrapper{
  position:relative;
  margin:0 auto;
  width:100%;
  min-width:300px;
}

.newname,.newname>li{
  list-style:none;
  padding:10px;
  margin:0px;
  text-align:center;
  height:100px;
}

img{
  display:inline-block;
  max-width:100%;
}

.theme-btn{
  cursor:pointer;
  display:inline-block;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}

.centered{
  text-align:center;
}



.page-title{
  position:relative;
  text-align:center;
  overflow:hidden;
  padding:110px 0px 110px;
  background-color:#141d38;
}

.page-title .pattern-layer-one{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background-repeat:no-repeat;
}

.page-title .auto-container{
  position:relative;
}

.page-title h2{
  position:relative;
  color:#ffffff;
  font-weight:700;
  line-height:1.2em;
  margin-bottom: 0px;
  text-transform:uppercase;
}

.page-breadcrumb{
  position:relative;
  margin-top:20px;
}

.page-breadcrumb li{
  position:relative;
  display:inline-block;
  margin-right:10px;
  padding-right:15px;
  color:#ffffff;
  font-size:16px;
  font-weight:700;
  text-transform:capitalize;
}

.page-breadcrumb li:after{
  position:absolute;
  content: ":";
  right:-2px;
  top:-1px;
  color:#ffffff;
  font-size:14px;
  font-weight:700;
  font-family: 'FontAwesome';
}

.page-breadcrumb li:last-child::after{
  display: none;
}

.page-breadcrumb li:last-child{
  padding-right:0px;
  margin-right:0px;
}

.page-breadcrumb li a{
  color:#ffffff;
  font-weight:700;
  text-transform: capitalize;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}

.page-breadcrumb li a:hover{
  color:#0060ff;
}


.faq-form-section{
  position:relative;
  padding:0px 0px 70px;
}

.faq-form-section .auto-container{
  max-width:970px;
  margin:0 auto;
}

/***

====================================================================
  Faq Form
====================================================================

 ***/

.faq-form{
  position:relative;
}

.faq-form .form-group{
  position:relative;
  margin-bottom:30px;
}

.faq-form .form-group input[type="text"],
.faq-form .form-group input[type="tel"],
.faq-form .form-group input[type="email"],
.faq-form .form-group select{
  position:relative;
  display:block;
  width:100%;
  line-height:28px;
  padding:10px 22px;
  color:#777777;
  height:56px;
  font-size:15px;
  background:none;
  border-radius:4px;
  font-weight:600;
  border:1px solid #cccccc;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.faq-form .form-group input[type="text"]:focus,
.faq-form .form-group input[type="tel"]:focus,
.faq-form .form-group input[type="email"]:focus,
.faq-form .form-group textarea:focus{
  border-color:#0060ff;
}

.faq-form .form-group textarea::-webkit-input-placeholder,
.faq-form .form-group input::-webkit-input-placeholder{
  color:#777777;
}

.faq-form .form-group textarea{
  position:relative;
  display:block;
  width:100%;
  line-height:22px;
  padding:15px 22px;
  color:#777777;
  height:150px;
  resize:none;
  font-size:15px;
  background:none;
  border-radius:4px;
  font-weight:600;
  border:1px solid #cccccc;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.faq-form .form-group .btn-detail{
  position:relative;
  text-align:center;
  margin-left:30px;
  color:#ffffff;
  display:inline-block;
}

.faq-form button{
  cursor: pointer;
  font-size: 16px;
  text-transform: capitalize;
}



.coming-soon{
  position:fixed;
  width:100%;
  height:100%;
  display:block;
  overflow-y:auto;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  text-align: center;
}

.coming-soon .content{
  position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
}

.coming-soon .content:before{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  content: "";
  opacity: .30;
}

.coming-soon .content .content-inner{
  position: relative;
  padding: 90px 15px;
    display: table-cell;
    vertical-align: middle;
}

.coming-soon .content .content-inner .logo{
  position:relative;
  margin-bottom: 200px;
}

.coming-soon .content .content-inner .sec-title{
  display: none;
  margin-bottom:50px;
}

.coming-soon .content .content-inner h2{
  position:relative;
  font-size:48px;
  font-weight:700;
  color: #ffffff;
  line-height:1.2em;
  padding-bottom: 0;
  font-variant: small-caps;
}

.coming-soon .content .content-inner h2:after{
  display: none;
}

.time-counter{
  position:relative;
}

.time-counter .time-countdown{
  position:relative;
  margin-bottom: 180px;
}

.time-counter .time-countdown .counter-column{
  position:relative;
  display: inline-block;
  width:180px;
  height:180px;
  font-size:20px;
  line-height: 1em;
  color:#ffffff;
  text-transform:uppercase;
  font-weight:600;
  text-align: center;
  z-index: 7;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.25);
    background-color: rgba(54,54,54,.40);
  font-family: 'Montserrat', sans-serif;
  margin:0 15px 20px;
}

.time-counter .time-countdown .counter-column .count{
  position:relative;
  display:block;
  font-size:72px;
  line-height:30px;
  padding:60px 0px 30px;
  color:#ffffff;
  font-weight:600;
}

.coming-soon .emailed-form{
  position: relative;
  margin-bottom: 40px;
}

.coming-soon .emailed-form h3{
  line-height: 1.2em;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
}

.coming-soon .emailed-form .text{
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height:1.8em;
  margin-bottom: 40px;
}

.coming-soon .emailed-form .form-group{
  position:relative;
  display:block;
  max-width:540px;
  width:100%;
  margin: 0 auto;
}

.coming-soon .emailed-form .form-group input[type="text"],
.coming-soon .emailed-form .form-group input[type="tel"],
.coming-soon .emailed-form .form-group input[type="email"],
.coming-soon .emailed-form .form-group textarea{
  position:relative;
  display:block;
  width:100%;
  line-height:28px;
  height:60px;
  font-size:16px;
  color:#000000;
  overflow:hidden;
  padding:15px 50px 15px 20px;
  background: #ffffff;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 13px rgba(0,0,0,0.10);
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.coming-soon .emailed-form .form-group input:focus,
.coming-soon .emailed-form .form-group select:focus,
.coming-soon .emailed-form .form-group textarea:focus{

}

.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button{
  position:absolute;
  right:0px;
  top:0px;
  width: 60px;
  height:60px;
  line-height:40px;
  font-size:18px;
  color: #0060ff;
  background-color: transparent;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.coming-soon .emailed-form .form-group input[type="submit"]:hover,
.coming-soon .emailed-form button:hover{
  color: #353535;
}

.coming-soon .copyright-text{
  position: relative;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
}

.coming-soon .copyright-text a{
  color: #ff9600;
}

.coming-soon .copyright-text a:hover{
  text-decoration: underline;
}

.clock-wrapper{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: -145px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    background-color: rgba(0,0,0,.40);
    transform: scale(2);
}

.clock-base{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}

.click-indicator{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 230px;
    height: 230px;
}

.click-indicator div{
    position: absolute;
    width: 2px;
    height: 4px;
    margin: 113px 114px;
}

.click-indicator div > span{
  height: 5px;
  width: 5px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: -1px;
}

.click-indicator div:nth-child(1) {
    transform: rotate(30deg) translateY(-120px);
}

.click-indicator div:nth-child(2) {
    transform: rotate(60deg) translateY(-120px);
}

.click-indicator div:nth-child(3) {
    transform: rotate(90deg) translateY(-120px);
    background-color: #F00;
}

.click-indicator div:nth-child(4) {
    transform: rotate(120deg) translateY(-120px);
}

.click-indicator div:nth-child(5) {
    transform: rotate(150deg) translateY(-120px);
}

.click-indicator div:nth-child(6) {
    transform: rotate(180deg) translateY(-120px);
    background-color: #F00;
}

.click-indicator div:nth-child(7) {
    transform: rotate(210deg) translateY(-120px);
}

.click-indicator div:nth-child(8) {
    transform: rotate(240deg) translateY(-120px);
}

.click-indicator div:nth-child(9) {
    transform: rotate(270deg) translateY(-120px);
    background-color: #F00;
}

.click-indicator div:nth-child(10) {
    transform: rotate(300deg) translateY(-120px);
}

.click-indicator div:nth-child(11) {
    transform: rotate(330deg) translateY(-120px);
}

.click-indicator div:nth-child(12) {
    transform: rotate(360deg) translateY(-120px);
    background-color: #F00;
}

.clock-hour{
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 123px;
    width: 4px;
    height: 65px;
    background-color: #ee3611;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 50px;
    transition: .5s;
    -webkit-animation: rotate-hour 43200s linear infinite;
    -moz-animation: rotate-hour 43200s linear infinite;
}

.clock-minute{
    position: absolute;
    z-index: 3;
    top: 55px;
    left: 123px;
    width: 4px;
    height: 85px;
    background-color: #ee3611;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 70px;
    transition: .5s;
    -webkit-animation: rotate-minute 3600s linear infinite;
    -moz-animation: rotate-minute 3600s linear infinite;
}

.clock-second{
    position: absolute;
    z-index: 4;
    top: 15px;
    left: 124px;
    width: 2px;
    height: 130px;
    background-color: #ffffff;
    opacity: .9;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 1px 110px;
    transition: .5s;
    -webkit-animation: rotate-second 60s linear infinite;
    -moz-animation: rotate-second 60s linear infinite;
}

.clock-second:after{
    content: "";
    display: block;
    position: absolute;
    left: -3px;
    bottom: 16px;
    width: 8px;
    height: 8px;
    background-color: #a00;
    border: solid 2px #a00;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.clock-center{
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    top: 50px;
    left: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    border-radius: 50%;
}

.clock-center:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin: 65px;
    background-color: #ddd;
    border-radius: 50%;
}

/***

====================================================================
  Services Page Section
====================================================================

***/

.services-page-section{
  position:relative;
  padding:110px 0px 70px;
}

/***

====================================================================
  Sidebar Page Container
====================================================================

***/


/***

==================================================================
  Blog Page Section
==================================================================

***/

.blog-page-section{
  position:relative;
  padding:100px 0px 100px;
}

.blog-page-section .styled-pagination{
  margin-top:50px;
}

/***

====================================================================
  Styled Pagination
====================================================================

***/

.styled-pagination{
  position:relative;
}

.styled-pagination li{
  position:relative;
  margin:0px 5px 10px;
  display:inline-block;
}

.styled-pagination li a{
  position:relative;
  width:50px;
  height:50px;
  color:#777777;
  font-size:18px;
  font-weight:500;
  line-height:50px;
  text-align:center;
  border-radius:5px;
  display:inline-block;
  border:1px solid #d7d7d7;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}

.styled-pagination li.active a,
.styled-pagination li:hover a{
  color:#ffffff;
  border-color:#141d38;
  background-color:#141d38;
}

.styled-pagination li.next a,
.styled-pagination li.prev a{
  color:#ffffff;
  border-color:#0060ff;
  background-color:#0060ff;
}

.sidebar-title{
  position:relative;
  margin-bottom:15px;
}

.sidebar-title h5{
  position: relative;
    color: #141d38;
    font-weight: 700;
    line-height: 1.3em;
    text-transform: capitalize;
}

/*Search Box Widget*/

.sidebar .search-box .form-group{
  position:relative;
  margin:0px;
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"]{
  position:relative;
  line-height:43px;
  padding:10px 50px 10px 25px;
  border:1px solid #dddddd;
  background:#ffffff;
  display:block;
  font-size:14px;
  width:100%;
  height:56px;
  color:#000000;
  border-radius:5px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.sidebar .search-box .form-group button{
  position:absolute;
  right:0px;
  top:0px;
  height:56px;
  width:60px;
  display:block;
  font-size:16px;
  color:#0060ff;
  cursor:pointer;
  border-radius:0px 5px 5px 0px;
  line-height:100%;
  font-weight:normal;
  background:none;
}

/* Blog Cat */

.blog-cat{
  position:relative;
  border-radius:4px;
  overflow:hidden;
  border:1px solid #dddddd;
}

.blog-cat li{
  position:relative;
}

.blog-cat li a{
  position:relative;
  color:#555555;
  font-size:16px;
  padding:18px 30px;
  display:block;
  font-weight:600;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  border-bottom:1px solid #dddddd;
}

.blog-cat li a:hover{
  color:#141d38;
}

.blog-cat li:last-child a{
  border-bottom:0px;
}

.blog-cat li a span{
  position:absolute;
  right:30px;
}

/*Post Widget*/

.sidebar .popular-posts .post{
  position:relative;
  font-size:14px;
  color:#666666;
  padding:0px 0px;
  padding-left:100px;
  min-height:105px;
  margin-bottom:20px;
  border-bottom:1px solid #dddddd;
}

.sidebar .popular-posts .post:last-child{
  margin-bottom:0px;
  border-bottom:0px;
  min-height:auto;
}

.sidebar .popular-posts .post .post-thumb{
   position:absolute;
   left:0px;
   top:0px;
   width:80px;
   border-radius:0px;
  overflow:hidden;
}

.sidebar .popular-posts .post .post-thumb .overlay-box{
  position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    color: #ffffff;
    font-size: 18px;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background-color: rgba(66,124,255,0.70);
}

.sidebar .popular-posts .post .post-thumb .overlay-box .fa{
  top: 50%;
    position: relative;
    margin-top: -12px;
    display: block;
}

.sidebar .popular-posts .post:hover .post-thumb .overlay-box{
  opacity:1;
}

.sidebar .popular-posts .post .post-thumb img{
  display:block;
  width:100%;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}

.sidebar .popular-posts .post .text{
  position:relative;
  top:0px;
  font-size:16px;
  margin:0px 0px 0px;
  font-weight:700;
  color:#222222;
  line-height:1.5em;
  text-transform:capitalize;
}

.sidebar .popular-posts .post .text a{
  color:#222222;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.sidebar .popular-posts .post a:hover{
  color:#0a2aa6;
}

.sidebar .popular-posts .post-info{
  position:relative;
  font-size:15px;
  color:#777777;
  font-weight:600;
  margin-top:6px;
}

/* Popular Tags */

.sidebar .popular-tags a{
  position:relative;
  display:inline-block;
  line-height:24px;
  padding:8px 20px 8px;
  margin:0px 6px 10px 0px;
  color:#555555;
  text-align:center;
  font-size:14px;
  background:none;
  font-weight:400;
  border-radius:5px;
  border:1px solid #dddddd;
  text-transform:capitalize;
  transition:all 300ms ease;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
}

.sidebar .popular-tags a:hover{
  border-color:#0060ff;
  background-color:#0060ff;
  color:#ffffff;
}

/* Instagram Widget */

.instagram-widget .post-thumb{
   position:relative;
   width:29%;
   float:left;
   border-radius:8px;
   overflow:hidden;
   margin:0px 5px 10px;
}

.instagram-widget .post-thumb .overlay-box{
  position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    color: #ffffff;
    font-size: 18px;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background-color: rgba(0,96,255,0.70);
}

.instagram-widget .post-thumb .overlay-box .fa{
  top: 50%;
    position: relative;
    margin-top: -12px;
    display: block;
}

.instagram-widget .post-thumb:hover .overlay-box{
  opacity:1;
}

.instagram-widget .post-thumb img{
  display:block;
  width:100%;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}

/* Archive List */

.archive-list{
  position:relative;
}

.archive-list li{
  position:relative;
  margin-bottom:18px;
}

.archive-list li a{
  position:relative;
  color:#555555;
  font-size:16px;
  padding-left:20px;
  font-weight:600;
}

.archive-list li a:before{
  position:absolute;
  content:'\f101';
  left:0px;
  top:-1px;
  color:#0060ff;
  font-weight:400;
  font-family: 'FontAwesome';
}

.news-block-five{
  position:relative;
  margin-bottom:50px;
}

.news-block-five .inner-box{
  position:relative;
  background-color:#ffffff;
  box-shadow:0px 0px 20px rgba(0,0,0,0.15);
}

.news-block-five .inner-box .image{
  position:relative;
  overflow:hidden;
  background-color:#427cff;
}

.news-block-five .inner-box .image img{
  position:relative;
  width:100%;
  display:block;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}

.news-block-five .inner-box:hover .image img{
  opacity:0.7;
  transform:scale(1.04,1.04);
}

.news-block-five .inner-box .lower-content{
  position:relative;
  padding:25px 30px 25px;
}

.news-block-five .inner-box .lower-content .post-date{
  position:absolute;
  right:20px;
  top:-20px;
  color: #ffffff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    z-index: 1;
  line-height:1.1em;
    padding-top: 5px;
    background-color: #0060ff;
}

.news-block-five .inner-box .lower-content .post-date span{
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.news-block-five .inner-box .lower-content .lower-box{
  position:relative;
  padding-top:16px;
  border-top:1px solid #cccccc;
}

.news-block-five .inner-box .lower-content .post-meta{
  position:relative;
}

.news-block-five .inner-box .lower-content .post-meta li{
  position:relative;
  color:#427cff;
  font-size:16px;
  margin-right:10px;
  font-weight:600;
  display:inline-block;
}

.news-block-five .inner-box .lower-content .post-meta li .icon{
  position:relative;
  top:1px;
  color:#141d38;
  font-size:15px;
  margin-right:6px;
}

.news-block-five .inner-box .lower-content h4{
  position:relative;
  line-height:1.4em;
  font-weight:700;
  margin-top:12px;
}

.news-block-five .inner-box .lower-content h4 a{
  position:relative;
  color:#141d38;
  transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
}

.news-block-five .inner-box .lower-content h4 a:hover{
  color:#0060ff;
}

.news-block-five .inner-box .lower-content .text{
  position:relative;
  line-height:1.8em;
  font-weight:500;
  margin-top:12px;
  color:#555555;
  font-size:16px;
  margin-bottom:18px;
}

.news-block-five .inner-box .lower-content .lower-box .read-more{
  position:relative;
  color:#141d38;
  font-size:16px;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
}

.news-block-five .inner-box .lower-content .lower-box .read-more .arrow{
  position:relative;
  margin-right:6px;
}

.news-detail{
  position:relative;
}

.news-detail .inner-box{
  position:relative;
  box-shadow:0px 0px 20px rgba(0,0,0,0.10);
}

.news-detail .inner-box .upper-box{
  position:relative;
  padding:30px 30px;
}

.news-detail .inner-box h3{
  position:relative;
  color:#141d38;
  font-weight:700;
  line-height:1.3em;
}

.news-detail .inner-box .upper-box .post-meta{
  position:relative;
  padding-top:15px;
  margin-top:20px;
  border-top:1px solid #dddddd;
}

.news-detail .inner-box .upper-box .post-meta li{
  position:relative;
  color:#427cff;
  font-size:16px;
  margin-right:10px;
  font-weight:600;
  display:inline-block;
}

.news-detail .inner-box .upper-box .post-meta li .icon{
  position:relative;
  top:1px;
  color:#141d38;
  font-size:15px;
  margin-right:6px;
}

.news-detail .inner-box .image{
  position:relative;
}
.image{
    text-align: center;
}
.news-detail .inner-box .image img{
  position:relative;
  display:block;
  width: 100%;
  height: 500px;
  object-fit: scale-down;
}

.news-detail .inner-box .image .post-date{
  position:absolute;
  right:20px;
  top:-20px;
  color: #ffffff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    z-index: 1;
  line-height:1.1em;
    padding-top: 5px;
    background-color: #0060ff;
}

.news-detail .inner-box .image .post-date span{
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.news-detail .inner-box .lower-content{
  position:relative;
  padding:30px 30px;

}
.lower-content{
    /*text-align: center;*/
}

.news-detail .inner-box .lower-content p{
  position:relative;
  color:#555555;
  font-size:16px;
  line-height:1.8em;
}

.news-detail .inner-box .lower-content h4{
  position:relative;
  color:#141d38;
  font-weight:700;
  margin-bottom:10px;
}

.news-detail .inner-box .lower-content blockquote{
  position:relative;
  padding:40px 40px;
  border-radius:4px;
  color:#ffffff;
  font-size:20px;
  font-weight:500;
  line-height:1.6em;
  margin-top:30px;
  margin-bottom:30px;
  background-color:#0060ff;
}

.news-detail .inner-box .lower-content blockquote .blockquote-inner{
  position:relative;
  padding-left:70px;
}

.news-detail .inner-box .lower-content blockquote .blockquote-inner:before{
  position:absolute;
  content:'';
  left:0px;
  top:12px;
  height:3px;
  width:50px;
  background-color:#ffffff;
}

.news-detail .inner-box .lower-content blockquote .quote-icon{
  position:absolute;
  right:100px;
  bottom:25px;
  color:#ffffff;
  opacity:0.20;
  font-size:50px;
}

/* Post Share Options */

.news-detail .post-share-options{
  position:relative;
  margin-top: 40px;
  padding:22px 0px 0px;
  border-top:1px solid #cccccc;
}

.news-detail .post-share-options .tags a{
  position:relative;
  color:#555555;
  font-size:14px;
  font-weight:600;
  line-height: 1em;
  padding:12px 18px;
  border-radius:3px;
  margin-right: 6px;
  display: inline-block;
  border:1px solid #dddddd;
  text-transform:capitalize;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.news-detail .post-share-options .tags a:last-child{
  margin-right: 0px;
}

.news-detail .post-share-options .tags{
  position:relative;
  color:#ff4800;
  font-size:16px;
  font-weight:400;
  margin-top:3px;
}

.news-detail .post-share-options .tags a:hover{
  color:#ffffff;
  border-color:#0060ff;
  background-color:#0060ff;
}

.news-detail .post-share-options .social-box{
  position:relative;
  margin-top:10px;
}

.news-detail .post-share-options .social-box li.share{
  position:relative;
  color:#141d38;
  font-weight:700;
  font-size:16px;
}

.news-detail .post-share-options .social-box li{
  position:relative;
  margin-left:15px;
  display:inline-block;
}

.news-detail .post-share-options .social-box li a{
  position:relative;
  font-size:16px;
  color:#bbbbbb;
  display:inline-block;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.news-detail .post-share-options .social-box li a:hover{
  color:#0060ff;
}

/***

====================================================================
  Comments Area
====================================================================

 ***/

.sidebar-page-container .comments-area{
  position:relative;
  margin-top:60px;
  margin-bottom:50px;
}

.sidebar-page-container .group-title{
  position:relative;
}

.sidebar-page-container .group-title h3{
  position:relative;
  color:#222222;
  font-weight:700;
  margin-bottom:30px;
  text-transform:capitalize;
}

.sidebar-page-container .comments-area .comment-box{
  position:relative;
  padding:0px 0px 0px;
  margin-bottom:30px;
  border-bottom:1px solid #cccccc;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.sidebar-page-container .comments-area .comment-box:last-child{
  margin-bottom:0px;
}

.sidebar-page-container .comments-area .comment{
  position:relative;
  font-size:14px;
  min-height:140px;
  padding:5px 0px 0px 140px;
}

.sidebar-page-container .comments-area .reply-comment{
  margin-left:60px;
}

.sidebar-page-container .comments-area .comment-box .author-thumb{
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  border-radius:0px;
  margin-bottom:20px;
  overflow:hidden;
}

.sidebar-page-container .comments-area .comment-box .author-thumb img{
  width:100%;
  display:block;
}

.sidebar-page-container .comments-area .comment-info{
  margin-bottom:15px;
}

.sidebar-page-container .comments-area .comment-box strong{
  font-size:20px;
  font-weight:700;
  color:#141d38;
  display:block;
  line-height:1.3em;
  display:inline-block;
  text-transform:capitalize;
  font-family: 'Montserrat', sans-serif;
}

.sidebar-page-container .comments-area .comment-box .text{
  color:#555555;
  font-size:16px;
  line-height:1.9em;
  margin-bottom:0px;
  padding-top:0px;
}

.sidebar-page-container .comments-area .comment-info .comment-time{
  font-size:15px;
  color:#555555;
  margin-left:20px;
  display:inline-block;
  font-weight:500;
  font-family: 'Montserrat', sans-serif;
}

.sidebar-page-container .comments-area .comment-box .theme-btn{
  position:absolute;
  right:0px;
  top:0px;
  font-size:16px;
  color:#ffffff;
  font-weight:600;
  padding:6px 18px;
  border-radius:4px;
  background-color:#0060ff;
  text-transform:capitalize;
}

.sidebar-page-container .comments-area .comment-box .theme-btn:hover{
  background-color:#222222;
}


/***

====================================================================
  Comment Form
====================================================================

***/

.comment-form .group-title h4{
  position:relative;
  margin-bottom:50px;
}

.comment-form .form-group{
  margin-bottom:20px;
}

.comment-form .form-group input[type="text"],
.comment-form .form-group input[type="password"],
.comment-form .form-group input[type="tel"],
.comment-form .form-group input[type="email"],
.comment-form .form-group select{
  position:relative;
  display:block;
  width:100%;
  line-height:28px;
  padding:10px 25px;
  color:#888888;
  height:55px;
  font-size:14px;
  border-radius:5px;
  background:#f5f5f5;
  border:1px solid transparent;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.comment-form .form-group input[type="text"]:focus,
.comment-form .form-group input[type="password"]:focus,
.comment-form .form-group input[type="tel"]:focus,
.comment-form .form-group input[type="email"]:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus{
  border-color:#1c2c52;
}

.comment-form .form-group textarea{
  position:relative;
  display:block;
  width:100%;
  line-height:24px;
  padding:15px 25px 25px;
  color:#888888;
  border:1px solid transparent;
  height:200px;
  background:#f5f5f5;
  resize:none;
  font-size:14px;
  border-radius:5px;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;
}

.comment-form .theme-btn{
  cursor:pointer;
}

.news-more-section{
  position:relative;
  border-top:2px solid #f5f5f5;
}

.news-more-section .new-post{
  position:relative;
}

.news-more-section .new-post .post-inner{
  position:relative;
  padding:50px 0px;

}

.news-more-section .new-post:first-child{
  border-right:2px solid #f5f5f5;
}

.news-more-section .new-post .content{
  position:relative;
  padding-left:100px;
  padding-top:10px;
}

.news-more-section .new-post .content .post-image{
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  overflow:hidden;
  border-radius:50%;
}

.news-more-section .new-post .content h4{
  position:relative;
  font-weight:700;
  line-height:1.3em;
  margin-bottom:8px;
}

.news-more-section .new-post .content h4 a{
  position:relative;
  color:#141d38;
}

.news-more-section .new-post .content .more{
  position:relative;
}

.news-more-section .new-post.style-two .content{
  text-align:right;
  padding-left:0px;
  padding-right:100px;
}

.news-more-section .new-post.style-two .content .post-image{
  left:auto;
  right:0px;
}

/* Error Section */

.error-section{
  position:relative;
  padding:160px 0px 160px;
}

.error-section .content{
  position:relative;
  text-align:center;
}

.error-section h1{
  position:relative;
  color:#222222;
  font-size:180px;
  font-weight:800;
  line-height:1em;
  margin-bottom:10px;
}

.error-section h2{
  position:relative;
  color:#222222;
  font-weight:800;
  line-height:1.2em;
  margin-bottom:10px;
}

.error-section .text{
  position:relative;
  color:#222222;
  font-size:20px;
  font-weight:300;
  margin-top:20px;
  margin-bottom:30px;
}

.team-page-section{
  position:relative;
  padding:110px 0px 70px;
}
