.heigtbr{

height: 90px;

    background: url('../background/pattern-1.png');
    background-attachment: fixed;

    background-size: contain;
 }
body #contact-form {
  max-width: 800px;
  margin: 2rem auto;
}

#contact-form {
  color: rgba(0, 0, 0, 0.7);
  background: white;
  padding: 1.5rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
#contact-form h3 {
  margin: 0 0 1.5rem;
  font-size: 1.4rem;
}
#contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
#contact-form input:not(.btn) {
  width: 100%;
  height: 40px;
  border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0 0.25rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  -ms-transition: border-color 0.2s ease-out;
  -o-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
  line-height: 40px;
}
#contact-form input:not(.btn):focus,
#contact-form input:not(.btn):active {
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}
#contact-form select {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 0.25rem;
}
#contact-form select option {
  margin-bottom: 0.5rem;
}
#contact-form .form-row {
  margin-bottom: 1.2rem;
}
#contact-form .send-btn {
  float: right;
  margin-top: 0.5rem;
}
#textarea-message {
  max-width: 100%;
  width: 100%;
  height: 40px;
  border: none;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0 0.25rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  -ms-transition: border-color 0.2s ease-out;
  -o-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}
#textarea-message:focus,
#textarea-message:active {
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}
.btn {
  background: #262626;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  text-shadow: none;
  position: relative;
  border: none;
  display: inline-block;
}
[class*="col"] {
  padding: 0 1rem;
}
.col {
  flex-grow: 1;
}
.col-100 {
  width: 100%;
}

/*ayl css*/

.service-section {background: #fff;   position: relative; overflow: hidden;}
.image-block img{width:100%; border-radius: 8px;}
.white-text{    color: #fff !important;}
.shape-num .shape-loc:first-child:before{
content: '';
background: url(../images/shape/shape-1.svg);
background-size: auto;
position: absolute;
height: 150px;
width: 150px;
background-repeat: no-repeat;
left: -40px;
bottom: -60px;
z-index: -1;}
.shape-num .shape-loc:last-child:after{
content: '';
background: url(../images/shape/shape-2.svg);
background-size: auto;
position: absolute;
height: 150px;
width: 150px;
background-repeat: no-repeat;
right: -40px;
bottom: -60px;
z-index: -1;}
.shape-bg2 img{
z-index: 1;
position: relative;}
.shape-bg2{ position: relative;}
.shape-bg2:after {
content: '';
background: url(../images/shape/shape-2.svg);
background-size: auto;
position: absolute;
height: 150px;
width: 150px;
background-repeat: no-repeat;
right: -40px;
bottom: -60px;
z-index: -1;}
.shape-bg2:before {
content: '';
background: url(../images/shape/shape-1.svg);
background-size: auto;
position: absolute;
height: 150px;
width: 150px;
background-repeat: no-repeat;
left: -40px;
bottom: -60px;
z-index: 0;}
.service-section:before{
content: "";
background: url(../images/shape/dot-shape.png);
position: absolute;
height: 400px;
right: 0;
left: 0;
top: 0;
width: 100%;
background-position: center top;
background-size: contain;
background-repeat: repeat;}
.s-block{
background: #fff;
text-align: center;
background-size: 200%;
background-position: top right;
background-repeat: no-repeat;
text-align: center;
padding: 50px 20px;
margin:0;
position: relative;
border: 1px solid #d4f0ff;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow:
0 3.4px 2.7px -30px rgba(0, 0, 0, 0.059),
0 8.2px 8.9px -30px rgba(0, 0, 0, 0.071),
0 25px 40px -30px rgba(0, 0, 0, 0.2);
box-shadow:
0 3.4px 2.7px -30px rgba(0, 0, 0, 0.059),
0 8.2px 8.9px -30px rgba(0, 0, 0, 0.071),
0 25px 40px -30px rgba(0, 0, 0, 0.2);}
.service-section .s-block{
background: url(../images/shape/shape-7.svg) #fff;
background-size: 180px;
background-position: top right;
background-repeat: no-repeat;}
.s-card-icon {  width: 80px;    margin: 0 auto 30px;}
.s-block h4 {       margin: 0 0 10px 0;}
.s-block a{ display: inline-block;    margin: 30px 0 0 0;    color: #050748;    font-family: 'Poppins', sans-serif;}
.upset{position:relative;z-index:5}
/**Service index2**/
.service-2:before{background-color:#f9f9f9}
.wide-block{
padding: 40px 30px;
margin: 5px 0;
position: relative;
border: 0px solid #d4f0ff;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, 0.059), 0 8.2px 8.9px -30px rgba(0, 0, 0, 0.071), 0 25px 40px -30px rgba(0, 0, 0, 0.2);
box-shadow: 0 3.4px 2.7px -30px rgba(0, 0, 0, 0.059), 0 8.2px 8.9px -30px rgba(0, 0, 0, 0.071), 0 25px 40px -30px rgba(0, 0, 0, 0.2);}
.service-img1{     background:#e9ddff;   }
.service-img1:after{        background: url(../images/service/service-img-1.png); }
.service-img2{    background:#ffdadb;}
.service-img2:after{    background: url(../images/service/service-img-2.png);}
.service-img3{  background:#d6edff; }
.service-img3:after{    background: url(../images/service/service-img-3.png);}
.service-img4{  background:#ffede1;   }
.service-img4:after{    background: url(../images/service/service-img-4.png);}
.wide-block:after{
content:'';
position: absolute;
right: 0;
top: 0;
height: 100%;
width: 100%;
background-size: 280px;
background-position: right center;
background-repeat: no-repeat;}
.block-space- {    max-width: 50%;    position: relative;    z-index: 555;}
.wide-block h4{     margin: 20px 0 30px 0;}
/**Statistics section**/
.contact-parent {
    display: flex;
    margin: 80px 0;
}

.contact-child {
    display: flex;
    flex: 1;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

.child1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    padding: 100px 0;
}

.child1 p {
    padding-left: 20%;
    font-size: 20px;
    text-shadow: 0px 0px 2px #000;
}

.child1 p span {
    font-size: 16px;
    color: #9df2fd;
}

.child2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inside-contact {
    width: 90%;
    margin: 0 auto;
}

.inside-contact h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.inside-contact h3 {
    text-align: center;
    font-size: 16px;
    color: #0085e2;
}

.inside-contact input, .inside-contact textarea {
    width: 100%;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.48);
    padding: 5px 10px;
    margin-bottom: 20px;
}

.inside-contact input[type=submit] {
    background-color: #000;
    color: #fff;
    transition: 0.2s;
    border: 2px solid #000;
    margin: 30px 0;
}

.inside-contact input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}

@media screen and (max-width: 991px) {
    .contact-parent {
        display: block;
        width: 100%;
    }

    .child1 {
        display: none;
    }

    .child2 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
        background-size: cover;
    }

    .inside-contact input, .inside-contact textarea {
        background-color: #fff;
    }
}

* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, Arial;
}

.content {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.typedtext {
    margin-top: 4%;
    border-right: 2px solid black;
    animation: blinkTextCursor 800ms steps(44) infinite normal;
    height: 40px;
    margin-bottom: 55px;
    color: #000;
    display: block;
    text-align: center;
    color: #444;
    font-family: "Cookie", cursive;

}

@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }
    to {
        border-right-color: transparent;
    }
}
