.form-control {
    border-radius: 0px !important;
    border: 0px;
    border-bottom: 1.3px solid #0069d9;
}

.form-control:valid {
    border-color: #0069d9 !important;
}

.was-validated .form-control:valid:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.wrap{
    width: 98%;
}
.fgrerfe{

    font-size: 18px;
}
/* PRICE TABLE */
.row-flex {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}

.price-table {
    max-width: 400px;
    min-height: 320px;
    background-color: #fff;
    border-radius: 0 0 0 25px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 8px #ccc;
    display: block;
    margin: 10px auto;
    padding: 0 0 8px 0;
    text-align: center;
}

.price-table span {
    display: block;
}

.price-table span:first-child {
    padding: 16px 0 0 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.price-table span {
    padding: 0 0 16px 0;
}

.price-table span{
    padding: 8px 0;
    font-weight: bold;
    font-size: 1em;
}

.price-table > ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.price-table > ul > li {
    display: block;
    padding: 8px 0;
}

.price-table > ul > li:first-child {
    border-top: 1px solid #ccc;
}

.price-table > ul > li {
    border-bottom: 1px solid #ccc;
}

.price-table a,
.price-table a:active,
.price-table a:focus,
.price-table a:hover,
.price-table a:visited {
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .2s;
}

/* Colors */
.pt-bg-black span:first-child {
    background-color: #212121;
    color: #fcfcfc;
    font-size: 14px;
}

.pt-bg-black span:nth-child(2) {
    background-color: #212121;
    color: #D5D8DC;
}

.pt-bg-black a {
    border: 3px solid #212121;
    color: #212121;
    margin-top: 8px;
}

.pt-bg-black a:hover {
    background-color: #212121;
    color: #fff;
} /* End Color Black */

.pt-bg-green span {
    background-color: #27AE60;
    color: #fcfcfc;
}

.pt-bg-green span:nth-child(2) {
    background-color: #27AE60;
    color: #D5D8DC;
}

.pt-bg-green a {
    border: 3px solid #27AE60;
    color: #27AE60;
    margin-top: 8px;
}

.pt-bg-green a:hover {
    background-color: #27AE60;
    color: #fff;
} /* End Color Green */

.pt-bg-red span:first-child {
    background-color: #C0392B;
    color: #fcfcfc;
}

.pt-bg-red span:nth-child(2) {
    background-color: #C0392B;
    color: #D5D8DC;
}

.pt-bg-red a {
    border: 3px solid #C0392B;
    color: #C0392B;
    margin-top: 8px;
}

.pt-bg-red a:hover {
    background-color: #C0392B;
    color: #fff;
} /* End Color Red */

.pt-bg-blue span:first-child {
    background-color: #2980B9;
    color: #fcfcfc;
}

.pt-bg-blue span {
    background-color: #2980B9;
    color: #D5D8DC;
}

.pt-bg-blue a {
    border: 3px solid #2980B9;
    color: #2980B9;
    margin-top: 8px;
}

.pt-bg-blue a:hover {
    background-color: #2980B9;
    color: #fff;
} /* End Color Blue */
/* END PRICE TABLE */
.btn-bordered {
    border-radius: 0;
    margin-top: 15px;
}

.btn-bordered {
    border: 2px solid #57bddb;
    color: #57bddb;
    background: transparent;
}

.btn-bordered:hover {
    color: #57bddb;
    opacity: 0.7;
}
.price-colums{

    overflow: hidden;
}


  .lessontype{
      display: inline;
      font-weight:bold;
      background: linear-gradient(15deg, black, transparent);
      color: #fff3cd;
      padding: 5px;
      text-align: center;
      position: relative;
      bottom: 7px;
      border-radius:40%;
  }
.item_duration__2vWJ1 b {
    color: black;
}

.price-name {
    color: black;
}
.welcome-message .borderBtn {
    position: absolute;
    top: 300%;
    left: 45%;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.05em;
    color: white;
    padding: 1.45em 3.35em;
    border-radius: 0.25em;
    background: rgba(195, 40, 40, 1);
}

.borderBtn:hover {
    color: white;
    background-color: #363B3F;
}

.container .btn-lg {
    background: rgba(195, 40, 40, 1);
    border: 0.05em solid rgba(195, 40, 40, .7);
    color: white;
}

.container .btn-lg:hover {
    background: white;
    border: 0.05em solid rgba(195, 40, 40, 1);
    color: rgba(195, 40, 40, 1);
}

.modal-body .form-control {
    border-radius: 0.35em;
    margin-right: 0.25em;
    padding: 0.15em;
}

.modal-body .form-group label {
    margin-left: 0.35em;
}

.modal-header {
    background: rgba(195, 40, 40, 1);
}

.modal-body .form-group {
    text-align: left;
}

.close {
    color: white !important;
    opacity: 0.8 !important;
}

.mohe {
    position: relative;
    display: block;
    color: white;
    float: left;
    padding: 0.75em;
}



.modal-footer {
    background: rgba(195, 40, 40, 1);
}

.modal-footer button {
    background: white;
    color: black;
    width: 9em;
    border-radius: 0.35em;
}

.input-group textarea {
    height: 6.35em !important;
    background-color: rgba(255, 255, 255, 0.9);
}

.form-control {
    height: 2em;
    padding: 0.75em 1.15em;
    font-size: 1.15em;
    border: 0.05em solid rgba(195, 40, 40, 1) !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: black;
}

.input-group .btn-primary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(195, 40, 40, 0.9) !important;
    width: 50% !important;
    float: right !important;
    margin-right: 0 !important;
}

.input-group .btn-primary:hover {
    background-color: rgba(255, 255, 255, 1) !important;
    color: #363B3F;
    border: 0.15em solid rgba(195, 40, 40, 1);
    border-radius: 0.35em;
    font-weight: 700;
}
